.mytable {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
    max-width: 100%;
    min-height: 500px;
    height: 100%;
}

.mytable .table_title {
    font-family: PingFangTC-Regular;
    font-size: 14px;
    color: #000000;
    text-align: center;
    display: block;
    width: 100%;
    height: fit-content;
}

.mytable .table_body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    border: 1px solid #979797;
    overflow: auto;
}

.myfooter {
    flex: none;

    border: 1px #828282 solid;
    border-radius: 0px 0px 5px 5px;
    background-color: #828282;
    border-bottom: 1px;
    width: calc(100% - 2px);
    height: fit-content;
    min-height: 20px;
}

.myfooter .click-enable {
    padding: 2px 6px 2px 6px;
    text-align: center;
    font-family: PingFangTC-Regular;
    font-size: 14px;
    color: #2222CC;
    cursor: pointer;
}

.myfooter .click-disable {
    padding: 2px 6px 2px 6px;
    text-align: center;
    font-family: PingFangTC-Regular;
    font-size: 14px;
    color: #222222;
    cursor: default;
}

.mytable table {
    border-collapse: collapse;
    display: table;
    overflow-x: auto;
}

.mytable table tr {
    border: 1px solid #979797;
    padding: 0px 10px 0px 10px;
    min-width: 25px;
}

.mytable table th, .mytable table td {
    display: table-cell;

    border: 1px solid #979797;
    padding: 0px 10px 0px 10px;
    min-width: 32px;
}

.mytable thead {
    background: #E2E2E2;
}

.mytable thead th:hover {
    cursor: pointer;
}

.mytable tbody {
    background-color: #F8F8F8;
    max-height: 600px;
}

.mytable tbody td {
    color: #000000;
    border: 1px solid #979797;
}

.mytable tbody tr:hover {
    cursor: pointer;
    background-color: #FFFCB9;
}

.mytable tfoot {
    background: #000123;
    border: 1px solid #979797;

    height: fit-content;
}

.mytable tfoot td {
    color: #000000;
    border: 2px solid #979797;
}

.mytable .adj {
    min-width: 100px;
    resize: horizontal;
    overflow: hidden;
}

.mytable thead .fix {
    padding: 0px;
}

.mytable tbody .fix {
    overflow: hidden;
}

.mytable div.cell {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mytable table span.text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: PingFangTC-Regular;
    text-align: center;
    font-size: 14px;
    color: #000000;
}

.mytable .table_pannel {
    display: flex; 
    align-items: center;

    border: 1px #828282 solid;
    border-radius: 5px 5px 0px 0px;
    background-color: #828282;
    border-bottom: 1px;
    width: calc(100% - 2px);
    height: fit-content;
    min-height: 40px;
}

.mytable .table_pannel .global_search {
    display: none;
    background: #828282;
    width: 100%;
    padding: 5px;
    justify-content: flex-start;
}

.mytable .table_pannel .global_search.open {
    display: flex;
}

.mytable .table_pannel .global_search span {
    display: flex;
    color: #FFFFFF;
    font-size: 16px;
    margin: 0px 5px 0px 5px;
    text-align: left;
    align-items: center;
}

.mytable .table_pannel .global_search input {
    font-size: 14px;
}

.mytable .table_pannel .batch_operation {
    display: none;
    background: #F6F6F6;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    margin: 5px;
    align-items: center;
    height: 20px;
    justify-content: space-between;
}

.mytable .table_pannel .batch_operation.open {
    display: flex;
}

.mytable .table_pannel .batch_operation > div {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 100%;
}

.mytable .table_pannel .batch_operation .back_button {
    color: #000000;
    font-size: 16px;
    margin: 0px 5px 0px 0px;
    text-align: left;
    cursor: pointer;
    float: left;
}

.mytable .table_pannel .batch_operation .textbox {
    color: #000000;
    font-size: 16px;
    margin: 0px 5px 0px 25px;
    text-align: center;
    float: left;
}

.mytable .table_pannel .batch_operation .manual_button {
    width: 32px;
    height: 32px;
}

.mytable .checkbox_unchecked {
    background-image: url('../img/checkbox_unchecked.png');
    display: inline-block;
    position: relative;
    float: left;
    width: 32px;
    height: 32px;
    margin-top: 0px;
    cursor: default;
}

.mytable .checkbox_unchecked:hover {
    cursor: pointer;
}

.mytable .checkbox_checked {
    background-image: url('../img/checkbox_checked.png');
    display: inline-block;
    position: relative;
    float: left;
    width: 32px;
    height: 32px;
    margin-top: 0px;
    cursor: default;
}

.mytable .checkbox_checked:hover {
    cursor: pointer;
}

.mytable .sort_icon_none {
    background-image: url('../img/icon-sort-none.png');
    display: flex;
    margin-left: 5px;
    width: 12px;
    height: 32px;
}

/*
.mytable .sort_icon_none:hover {
    cursor: pointer;
}
*/

.mytable .sort_icon_asc {
    background-image: url('../img/icon-sort-asc.png');
    display: flex;
    margin-left: 5px;
    width: 12px;
    height: 32px;
}

/*
.mytable .sort_icon_asc:hover {
    cursor: pointer;
}
*/

.mytable .sort_icon_desc {
    background-image: url('../img/icon-sort-desc.png');
    display: flex;
    margin-left: 5px;
    width: 12px;
    height: 32px;
}

/*
.mytable .sort_icon_desc:hover {
    cursor: pointer;
}
*/

.mytable .css-close {
    position: relative;
    height: 12px;
    width: 12px;
    margin: 2px 4px 2px 4px; 
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    cursor: pointer;
    opacity: 0.8
}

.mytable .css-close:hover {
    opacity: 1;
}

.mytable .css-close .before, .mytable .css-close .after {
    position: absolute;
    left: 5px;
    top: 1px;
    width: 2px;
    height: 10px;
    border: 0px;
    background-color: #FFFFFF;
}

.mytable .css-close .before {
    transform: rotate(45deg);
}

.mytable .css-close .after {
    transform: rotate(-45deg);
}

