.myaccordion {
    width: 200px;
    margin: 0;
    padding: 0px;
    
}

.myaccordion li {
    list-style: none;
}

.myaccordion .rollover {
}

.myaccordion .myaccordion-title {
    top: 0px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.myaccordion .myaccordion-title:before { 
    content: "";
    border-color: transparent #111;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    margin-right: 10px;
}

.myaccordion .myaccordion-title.open:before {
    transform: rotate(90deg);
}

.myaccordion .myaccordion-content {
}
