.main-search-result {
    padding: 10px;
    height: calc(100% - 20px);
    overflow-x: auto;
}

.main-search-result .frame {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.main-search-result .result_title {
    font-family: AvenirNext-Bold;
    margin-bottom: 15px;
    font-size: 20px;
    text-align: left;
    width: 100%;
}

.main-search-result .frame .result_table {
    flex: 1;
    width: fit-content;
}

.main-search-result .checkbox_unchecked {
    background-image: url('../img/checkbox_unchecked.png');
    display: inline-block;
    position: relative;
    float: left;
    width: 32px;
    height: 32px;
    margin-top: 0px;
    cursor: default;
}

.main-search-result .checkbox_unchecked:hover {
    cursor: pointer;
}

.main-search-result .checkbox_checked {
    background-image: url('../img/checkbox_checked.png');
    display: inline-block;
    position: relative;
    float: left;
    width: 32px;
    height: 32px;
    margin-top: 0px;
    cursor: default;
}

.main-search-result .checkbox_checked:hover {
    cursor: pointer;
}

.main-search-result .icon-add-task {
    background-image: url('../img/icon-add-task-50x50.png');
    background-size: 26px;
    display: inline-block;
    position: relative;
    width: 26px;
    height: 25px;
    margin: 3px;
    cursor: pointer;
}
