.main-search-preview {
    padding: 10px;
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main-search-preview .pannel  {
    background-color: #44AA44;
    height: fit-content;
    width: 100%;
}

.main-search-preview .info-content-wrap {
    /*
    background-color: #477A44;
    */
    min-height: 300px;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.main-search-preview .info-content-wrap .ui-resizable-handle {
    height: 2px;
    background: #979797;
}

.main-search-preview .info-content .info_title {
}

/*
.main-search-preview .info-content table {
    display: table;
}

.main-search-preview .info-content table tr {
    height: fit-content;
}

.main-search-preview .info-content table td {
    font-family: AvenirNext-Bold;
    font-size: 16px;
    text-align: left;
    padding: 5px 0px 5px 0px;
}

.main-search-preview .info-content table td.info_key {
    min-width: 100px;
    vertical-align: top;
}

.main-search-preview .info-content table td.info_val {
    word-wrap: break-word;
    vertical-align: middle;
    padding-left: 25px;
    margin: 0px;
}

*/
.main-search-preview .image-content-wrap {
    width: 100%;
    /*
    background-color: #333333;
    border: inset 4px #FFFFFF;
    width: calc(100% - 8px);
    */
    flex: 1;

    overflow: auto;
}

.main-search-preview ul {
    padding-left: 20px;
    margin: 0px;
}

.main-search-preview li {
}
