.main-search-pannel {
    display: flex;
    min-width: 310px;
    padding: 10px;
    height: calc(100% - 20px);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.main-search-pannel .pannel-title {
    font-family: AvenirNext-Bold;
    font-size: 20px;
    text-align: left;
    width: 100%;
}

.main-search-pannel button {
    width: 250px;
    height: 36px;

    font-family: AvenirNext-Bold;
    font-size: 14px;
    color: #4A4A4A;
    letter-spacing: 0;
    text-align: center;
    text-shadow: 0 1px 0 #FFFFFF;

    margin: 12px;

    background-image: linear-gradient(-180deg, #FFFFFF 2%, #ECECEC 97%);
    border: 1px solid #D8D8D8;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.20), inset 0 2px 0 0 #FFFFFF;
    border-radius: 6px;
}

.main-search-pannel button:hover {
    cursor: pointer;
}

.main-search-pannel .frame-vertical {
    width: 100%;
}

.main-search-pannel .container {
    position: relative;
    border-bottom: 1px solid #9A9A9A;
    padding: 13px 0 13px 0;
    width: 100%;
}

.main-search-pannel .container .criteria_line_unit {
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    min-height: 32px;
}

.main-search-pannel .container .criteria_line_unit[group="calendar_range"] {
    height: 64px;
}

.main-search-pannel .criteria_line_unit span.title {
    font-size: 15px;
    color: #000000;
    width: 85px;
    height: 32px;
    padding-left: 0px;
    line-height: 32px;
    vertical-align: top;
}

.main-search-pannel .criteria_line_unit span.input {
    flex: 1;
    display: flex;
    width: 200px;
    height: 32px;
    margin-top: 0px;
    vertical-align: top;
    cursor: default;
}

.main-search-pannel .criteria_line_unit[group="calendar_range"] span.input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: 64px;
}

.main-search-pannel .criteria_line_unit[group="calendar_range"] .input div {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 32px;
}

.main-search-pannel .criteria_line_unit .input input {
    flex: 1;
    width: 100%;
    height: 16px;
    padding: 2px;
    margin: 4px;
    vertical-align: top;
}

.main-search-pannel .criteria_line_unit .input select {
    font-size: 12px;
    text-align: center;
    flex: 1;
    height: 24px;
    padding: 2px;
    margin: 4px;
    vertical-align: top;
    cursor: pointer;
}

.main-search-pannel .criteria_line_unit[group="calendar_range"] .input div span {
    text-align: left;
    width: 32px;
    height: 16px;
    padding: 2px;
    margin: 4px;
    vertical-align: top;
}

.main-search-pannel .criteria_line_unit[group="calendar_range"] .input input {
    font-size: 14px;
    flex: 1;
    height: 16px;
    padding: 2px;
    margin: 4px;
    vertical-align: top;
}

.main-search-pannel .checkbox_unchecked {
    background-image: url('../img/checkbox_unchecked.png');
    width: 32px;
    height: 32px;
    margin-top: 0px;
    cursor: default;
}

.main-search-pannel .checkbox_unchecked:hover {
    cursor: pointer;
}

.main-search-pannel .checkbox_checked {
    background-image: url('../img/checkbox_checked.png');
    width: 32px;
    height: 32px;
    margin-top: 0px;
    cursor: default;
}

.main-search-pannel .checkbox_fixed {
    background-image: url('../img/checkbox_green.png');
    width: 32px;
    height: 32px;
    margin-top: 0px;
    cursor: default;
}

.main-search-pannel .checkbox_checked:hover {
    cursor: pointer;
}
