.main-search {
    /*
    overflow: auto;
    */
    width: 100%;
    height: 100%;
    background: #FFFFFF;

    /* resizable layout*/
    display: flex;
    justify-content: flex-start;

}

.main-search .search-pannel {
    background: #F2F2F2;
    height: 100%;
    overflow: auto;
    width: fit-content;

    /* resizable layout*/
    min-width: 330px;
    align-self: flex-start;
    padding-right: 9px;
}

.main-search .search-pannel .ui-resizable-handle {
    width: 9px;
    background: #E2E2E2;
}

.main-search .search-result {
    background: #F2F2F2;
    height: 100%;
    /*
    width: fit-content;
    overflow: auto;
    */

    /* resizable layout*/
    min-width: 386px;
    padding-right: 9px;
}

.main-search .search-result .ui-resizable-handle {
    width: 9px;
    background: #E2E2E2;
}

.main-search .search-preview {
    background: #F2F2F2;
    height: 100%;
    overflow: auto;

    /* resizable layout*/
    flex: 1;
}
