.main-search-task_generator {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-search-task_generator .title {
}

.main-search-task_generator .content {
}

.main-search-task_generator .content .select_unit {
    height: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main-search-task_generator .generator-info {
    width: 100%;
    min-height: 80px;
}

.main-search-task_generator .generator-option {
    width: 100%;
    min-height: 70px;
}

.main-search-task_generator .generator-labeler {
    width: 100%;
    min-height: 60px;
    margin: 10px 0 10px 0;
}

.main-search-task_generator .generator-confirmer {
    width: 100%;
    min-height: 100px;
    margin: 10px 0 10px 0;
}

.main-search-task_generator button {
    width: 250px;
    height: 36px;

    font-family: AvenirNext-Bold;
    font-size: 14px;
    color: #4A4A4A;
    letter-spacing: 0;
    text-align: center;
    text-shadow: 0 1px 0 #FFFFFF;

    margin: 12px;

    background-image: linear-gradient(-180deg, #FFFFFF 2%, #ECECEC 97%);
    border: 1px solid #D8D8D8;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.20), inset 0 2px 0 0 #FFFFFF;
    border-radius: 6px;
    cursor: pointer;
}

.main-search-task_generator .checkbox_unchecked {
    background-image: url('../img/checkbox_unchecked.png');
    width: 32px;
    height: 32px;
    margin-top: 0px;
    cursor: pointer;
}

.main-search-task_generator .checkbox_checked {
    background-image: url('../img/checkbox_checked.png');
    width: 32px;
    height: 32px;
    margin-top: 0px;
    cursor: pointer;
}
