.myaccordion_table {
    margin: 0;
    padding: 0px;
    
}

.myaccordion_table .myaccordion_table-title {
    width: fit-content;
    padding: 5px 15px 5px 15px;
    display: flex;
    align-items: center;
}

.myaccordion_table .myaccordion_table-value {
    width: fit-content;
}

.myaccordion_table td[colspan=2] {
    padding: 0px;
}

.myaccordion_table .rollover {
}

.myaccordion_table .myaccordion_table-text {
}

.myaccordion_table .myaccordion_table-struct .myaccordion_table-title:before { 
    content: "";
    border-color: transparent #111;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    margin-right: 10px;
}

.myaccordion_table .myaccordion_table-struct .myaccordion_table-title.open:before {
    transform: rotate(90deg);
}

.myaccordion_table .myaccordion_table-struct {
    cursor: pointer;
}

.myaccordion_table .myaccordion_table-struct:hover {
    background-color: #FFFF66A2;
}

.myaccordion_table .myaccordion_table-content {
    background-color: #92b3ff45;
}
